$mm-black: $black;
$mm-gray: $grey-light;
$mm-white: $white;
$mm-blue: $blue;
$app-horizontal-margin: 1rem;
$app-horizontal-margin-desktop: 7rem;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1088px;
